html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 5vw;
}

.left {
    background-color: lightgreen;
}

.right {
    background-color: lightcoral;
}
